body {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
}

.dark {
      transition: 0.3s;
      background: #1C1C1C;
      color: #fff !important;
}

.modal-night {
      background: #1C1C1C !important;
}